@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background: #eeeeee;
}

h1, h2, a {
  font-family: 'Montserrat', sans-serif;
}


