@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background: #eeeeee;
}

h1, h2, a {
  font-family: 'Montserrat', sans-serif;
}

.up-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
  background: #f7f39a;
  color: #212125;
  padding: 10px;
  border-radius: 50%;
}

