:local(.greeting) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
  font-size: 1.5em;

  hgroup {
    margin-bottom: 10vh;
    color: #222831;
  }
}